main {
    display: flex;
}
.products {
    display: flex;
    flex-wrap: wrap;
    
}

.all-products {
    display: flex;
}

.modal {
    background-color: rgb(240, 240, 240);
    width: 50em;
    height: 50vh;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 999999999999999;
    border-radius: 10px;
    padding: 1em
}

.header {
    height: 5vh;
    width: 100%;
    border-bottom: 2px solid;
}