nav {
  background-color: #333;
  height: 10vh;
  display: flex;
  padding: 0 2em;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

nav a {
    color: white;
    transition: .3s;
}